# Entorno virtual
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración del IDE
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env

# Archivos de pruebas
.pytest_cache/

# Logs
*.log